/* .footer {
  background-color: #333;
  color: white;
  padding: 20px;
  
}

.footer .about,
.footer .site-directory,
.footer .city-guides {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 10px;
}

.footer h3 {
  margin-top: 0;
} */
