.header {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.logo {
  font-size: 1.5em;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar input {
  margin-right: 200px;
  padding: 5px;
  width: 400px;
  background-color: bisque;
}

.nav-bar button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-bar button:hover {
  background-color: darkorange;
}
